<%- include("partials/header") -%>
<h1><%= Title %></h1>
<p><%= StartingContent%></p>
<% postArray.forEach( e =>  {%>
    <h1><%= e.postTitle %></h1>
   <% if (e.postBody.length > 100) { %>
        <p><%= e.postBody.slice(0,99) %> ... <a href="/posts/<%=e.kababTitle%>" >Read More</a></p>
    <%}%>
<%})%>

<%- include("partials/footer") %> 